.tree-container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}


line.link {
    fill: none;
    stroke: #9ecae1;
    stroke-width: 1.5px;
}
.node circle {
	fill:rgb(111,168,220);
	stroke:rgb(16,84,204);
}

.loading {
    fill: red;
}

.infoBox {
	position: absolute;
	right: 3em;
	top: 3em;
	width: 10em;
	min-height: 5em;
	border: 1px solid black;
	border-radius: 5px;
	display: none;
	padding: 1em;
}

.infoBox-visible {
	display: block;
}